USE [GADATA_RPT]
GO
/****** Object:  StoredProcedure [dbo].[sp_SvcLog_4.Tune_2.ReOrg]    Script Date: 4/1/2025 12:06:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		JHughes
-- Create date: 12/2024
-- Description:	Called by sp_SvcLog_4.Tune_0.Master
--              ReOrganize Index for fragmentation >= 10% and < 35% 
-- ==========================================================================================
CREATE or ALTER PROCEDURE [dbo].[sp_SvcLog_4.Tune_2.ReOrg]
	@TableName NVARCHAR(255),
	@IndexName NVARCHAR(255),
	@type_desc nvarchar(20),
	@FragmentationPercent INT,
	@Run_id INT = 0
AS
BEGIN
    SET NOCOUNT ON;
	
	DECLARE @SQL NVARCHAR(MAX);
	DECLARE @TableAffected NVARCHAR(255) = @TableName;
	DECLARE @RowCount INT = 0;
	DECLARE @Action NVARCHAR (255);
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorCode INT;

	BEGIN TRY
		SET @SQL = N'
			ALTER INDEX ' + QUOTENAME(@IndexName) + ' ON ' + QUOTENAME(@TableName) + '
			REORGANIZE 
			WITH (LOB_COMPACTION = ON);
			UPDATE STATISTICS ' + QUOTENAME(@TableName) + ' ' + QUOTENAME(@IndexName) + ' WITH FULLSCAN;'

		EXEC sp_executesql @SQL
    
		SET @RowCount = @@ROWCOUNT;
		
		IF @RowCount = 0
        BEGIN
            SET @Action = 'TUNE: ' + @type_desc + ', Index ReOrganization successful!';
			SET @ErrorMessage = @IndexName
            SET @ErrorCode = 0;
			EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableAffected,
                                          @RowsAffected = @RowCount,
                                          @Action = @Action,
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END
        ELSE
        BEGIN
            SET @Action = 'TUNE: ' + @type_desc + ', Index ReOrganization NOT updated!';
			SET @ErrorMessage = @IndexName
            SET @ErrorCode = 0;
			EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableAffected,
                                          @RowsAffected = @RowCount,
                                          @Action = @Action,
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END;
	END TRY
	BEGIN CATCH
        SET @Action = 'TUNE: ' + @type_desc + ', Index ReOrganization refresh error! ';
		SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorNumber = 50000 + @ErrorCode;
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableAffected,
                                      @RowsAffected = NULL,
                                      @Action = @Action,
                                      @ErrorCode = @ErrorNumber,
                                      @ErrorMessage = @ErrorMessage;
    END CATCH;
END;
