USE [GADATA_RPT]
GO
-- ==========================================================================================
--  Author:		JHughes
--  Create date: 12/2024
--  Description:  1) Moves records from Weekly tbls to Monthly tbls (large svc logs only).
--                2) Purges expired rows (>16m old).  
--                3) Drops table if it's empty.
-- ==========================================================================================

CREATE OR ALTER PROCEDURE [dbo].[sp_SvcLog_3.Purge_1.Master] @Run_id INT = 0 OUTPUT --Accepts input, defaults to 0 if not provided
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @ErrorProcedure NVARCHAR(200);
    DECLARE @RowCount INT = 0;
    DECLARE @TotalRowCount INT = 0;
    DECLARE @TableNamePrefix NVARCHAR(255);
    DECLARE @TableName NVARCHAR(255);
    DECLARE @SourceStartDT DATETIME2;
    DECLARE @SourceEndDT DATETIME2;
    DECLARE @PartitionColumn NVARCHAR(128);
    DECLARE @IDColumnName NVARCHAR(128);
    DECLARE @TableDistroLvl INT;
    DECLARE @StartTime DATETIME2;
    DECLARE @EndTime NVARCHAR(20);
    DECLARE @LoadTime INT;
    DECLARE @WeekTbl INT;
    DECLARE @MoveToTableName NVARCHAR(255);
    
    IF @Run_id = 0
       OR @Run_id IS NULL
    BEGIN
        SELECT @Run_id = ABS(CHECKSUM(NewId())) % 999999999;
    END

    DECLARE purge_cursor CURSOR FOR
    SELECT TOP 100 PERCENT
        TableNamePrefix,
        TableName,
        MoveToTableName,
        PartitionColumn,
        SourceStartDT,
        SourceEndDT,
        IDColumnName,
        TableDistroLvl,
        WeekTbl,
        @Run_id
    FROM temp_SvcLog_3_Purge
    WHERE TableDistroLvl >= 0;

    OPEN purge_cursor;
    FETCH NEXT FROM purge_cursor
    INTO @TableNamePrefix,
         @TableName,
         @MoveToTableName,
         @PartitionColumn,
         @SourceStartDT,
         @SourceEndDT,
         @IDColumnName,
         @TableDistroLvl,
         @WeekTbl,
         @Run_id;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            IF @WeekTbl > 0
            BEGIN
                EXEC [dbo].[sp_SvcLog_3.Purge_2.Move] @TableName = @TableName,
                                                      @MoveToTableName = @MoveToTableName,
                                                      @PartitionColumn = @PartitionColumn,
                                                      @SourceStartDT = @SourceStartDT,
                                                      @SourceEndDT = @SourceEndDT,
                                                      @IDColumnName = @IDColumnName,
                                                      @TableDistroLvl = @TableDistroLvl,
                                                      @WeekTbl = @WeekTbl,
                                                      @Run_id = @Run_id,
                                                      @RowCount = @RowCount OUTPUT;

                PRINT 'Table Maint - PURGE: INSERT [' + CAST(@RowCount as NVARCHAR(10)) + '] rows FROM '
                      + QUOTENAME(@TableName) + ' INTO ' + QUOTENAME(@MoveToTableName) + '';
            END;
        END TRY
        BEGIN CATCH
            SELECT @ErrorMessage = ERROR_MESSAGE(),
                   @ErrorSeverity = ERROR_SEVERITY(),
                   @ErrorState = ERROR_STATE();
            PRINT 'Error occurred INSERTing (moving) records: ' + ERROR_MESSAGE();
            PRINT 'Error ' + CAST(@ErrorSeverity AS NVARCHAR(10)) + ', State ' + CAST(@ErrorState AS NVARCHAR(10))
                  + ': ' + @ErrorMessage;
        END CATCH;

        BEGIN TRY
            EXEC [dbo].[sp_SvcLog_3.Purge_3.Delete] @TableName = @TableName,
                                                    @MoveToTableName = @MoveToTableName,
                                                    @PartitionColumn = @PartitionColumn,
                                                    @SourceStartDT = @SourceStartDT,
                                                    @SourceEndDT = @SourceEndDT,
                                                    @IDColumnName = @IDColumnName,
                                                    @TableDistroLvl = @TableDistroLvl,
                                                    @WeekTbl = @WeekTbl,
                                                    @Run_id = @Run_id,
                                                    @RowCount = @RowCount OUTPUT;

            PRINT 'Table Maint - PURGE: DELETE [' + CAST(@RowCount as NVARCHAR(10)) + '] expired rows from '
                  + QUOTENAME(@TableName) + '';
        END TRY
        BEGIN CATCH
            SELECT @ErrorMessage = ERROR_MESSAGE(),
                   @ErrorSeverity = ERROR_SEVERITY(),
                   @ErrorState = ERROR_STATE();
            PRINT 'Error occurred DELETING records: ' + ERROR_MESSAGE();
            PRINT 'Error ' + CAST(@ErrorSeverity AS NVARCHAR(10)) + ', State ' + CAST(@ErrorState AS NVARCHAR(10))
                  + ': ' + @ErrorMessage;
        END CATCH;

        FETCH NEXT FROM purge_cursor
        INTO @TableNamePrefix,
             @TableName,
             @MoveToTableName,
             @PartitionColumn,
             @SourceStartDT,
             @SourceEndDT,
             @IDColumnName,
             @TableDistroLvl,
             @WeekTbl,
             @Run_id;
    END;
    CLOSE purge_cursor;
    DEALLOCATE purge_cursor;

    -- Calculate script performance results
    SET @LoadTime = DATEDIFF(millisecond, @StartTime, GETDATE())

    DECLARE @hr varchar(2);
    DECLARE @min varchar(2);
    DECLARE @sec varchar(2);
    DECLARE @ms varchar(10);

    select @hr = @LoadTime / 3600000,
           @min = (@LoadTime - ((@LoadTime / 3600000) * 3600000)) / 60000,
           @sec = (@LoadTime - (((@LoadTime) / 60000) * 60000)) / 1000,
           @ms = @LoadTime - (((@LoadTime) / 1000) * 1000),
           @EndTime = FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm:ss');

    PRINT CHAR(13) + 'Start Time: ' + CAST(@StartTime as NVARCHAR(20));
    PRINT '-----------------------------------------------------------';
    PRINT 'Source Table/s Replication Runtime: ' + CAST(@LoadTime as NVARCHAR(10)) + ' milliseconds';
    PRINT 'Runtime Breakdown: ' + CHAR(13) + 'Minutes: ' + CAST(@min as NVARCHAR(2)) + CHAR(13) + 'Seconds: '
          + CAST(@sec as NVARCHAR(2)) + CHAR(13) + 'Milliseconds: ' + CAST(@ms as NVARCHAR(2));
    PRINT '-----------------------------------------------------------';
    PRINT 'Total Rows Inserted: ' + CAST(@TotalRowCount as NVARCHAR(14));
    PRINT '-----------------------------------------------------------';
    PRINT 'End Time: ' + CAST(@EndTime as NVARCHAR(20));

END;