USE [GADATA_RPT]
GO
/****** Object:  StoredProcedure [dbo].[sp_SvcLog_4.Tune_0.Master]    Script Date: 3/27/2025 12:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
--  Author: JHughes
--  Create date: 03/2025
--  Description:  1) Update tempTbl for Index Statistics.
-- ==========================================================================================
CREATE or ALTER PROCEDURE [dbo].[sp_SvcLog_4.Tune_1.MetaData]
	@DBName NVARCHAR(200) = '[GADATA_RPT_DEV1]',
	@page_fill_percent_limit INT = 70,
	@frag_percent_orglimit INT = 10,
	@frag_percent_rebldlimit INT = 35,
	@Run_id INT = 0
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE @TableAffected NVARCHAR(255) = 'temp_SvcLog_4_Tune';
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorCode INT;
	DECLARE @StartTime DATETIME = FORMAT (GETDATE(), 'yyyy-MM-dd HH:mm:ss');
	DECLARE @EndTime NVARCHAR(20);
    DECLARE @LoadTime INT;
	DECLARE @RowCount INT = 0;
	
	BEGIN TRY
		-- Refresh temp_SvcLog_4_Tune
		TRUNCATE TABLE [dbo].[temp_SvcLog_4_Tune];
		-- with updated index statistics
		WITH idxStats AS ( 
				SELECT OBJECT_NAME(ips.object_id) AS table_name,
					   i.name AS index_name,
					   MAX(ips.avg_fragmentation_in_percent) as FragmentationPercent,
					   MAX(ips.avg_page_space_used_in_percent) as page_fill_percent,
					   i.type_desc as type_desc,
					   CASE 
						WHEN MAX(ips.avg_fragmentation_in_percent) != 0 
							and (MAX(ips.avg_fragmentation_in_percent) >= @frag_percent_orglimit 
							and MAX(ips.avg_fragmentation_in_percent) < @frag_percent_rebldlimit) THEN 1
						WHEN MAX(ips.avg_fragmentation_in_percent) != 0 
							and (MAX(ips.avg_fragmentation_in_percent) >= @frag_percent_rebldlimit) THEN 2
						ELSE 0
						END as FragFlg,
						CASE 
						WHEN MAX(ips.avg_page_space_used_in_percent) != 0 
							and MAX(ips.avg_page_space_used_in_percent) <= @page_fill_percent_limit THEN 1
						ELSE 0
						END as PageFillFlg
				FROM sys.dm_db_index_physical_stats(DB_ID(@DBName), default, default, default, 'DETAILED') AS ips
					INNER JOIN sys.indexes AS i ON ips.object_id = i.object_id AND ips.index_id = i.index_id
				WHERE ((OBJECT_NAME(ips.object_id) LIKE 'addin%' OR OBJECT_NAME(ips.object_id) LIKE 'rpt%') AND type_desc IN ('CLUSTERED','NONCLUSTERED'))
					AND (OBJECT_NAME(ips.object_id) IN 
							(SELECT TableName
							 FROM (
						 			SELECT TableName
						 			FROM temp_SvcLog_2_Load
						 			UNION
						 			SELECT TableName
						 			FROM temp_SvcLog_3_Purge
						 		 ) x
							 GROUP BY TableName))
				GROUP BY OBJECT_NAME(ips.object_id),i.name,i.type_desc
		)
		--SELECT * INTO temp_SvcLog_4_Tune FROM idxStats;  -- Used to build fresh table from SELECT, comment below INSERT
		
		-- Used to re-populate existing table from SELECT
		INSERT INTO temp_SvcLog_4_Tune (table_name,index_name,fragmentation_percent,page_fill_percent,type_desc,FragFlg,PageFillFlg)
										(SELECT table_name,index_name,FragmentationPercent,page_fill_percent,type_desc,FragFlg,PageFillFlg FROM idxStats);
		SET @RowCount = @@ROWCOUNT;
		
		IF @RowCount > 0
        BEGIN
            SET @ErrorCode = 0;
			SET @Action = 'TUNE: MetaData refresh success!';
			EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableAffected,
                                          @RowsAffected = @RowCount,
                                          @Action = @Action,
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END
        ELSE
        BEGIN
            SET @ErrorCode = 0;
			SET @Action = 'TUNE: MetaData refresh UNsuccessful!';
			EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableAffected,
                                          @RowsAffected = @RowCount,
                                          @Action = @Action,
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END;
	END TRY
	BEGIN CATCH
        SET @ErrorNumber = 50000 + @ErrorCode;
		SET @Action = 'TUNE: MetaData refresh ERROR';
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableAffected,
                                      @RowsAffected = NULL,
                                      @Action = @Action,
                                      @ErrorCode = @ErrorNumber,
                                      @ErrorMessage = @ErrorMessage;
    END CATCH;


END;