USE [GADATA_RPT]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		JHughes
-- Create date: 12/2024
-- Description:	Called by spSvcLog_Maint_1_CREATE_Master
--              Create Indexes, see addin_SvcLogTableStructures for specifications.
-- ==========================================================================================
CREATE or ALTER PROCEDURE [dbo].[sp_SvcLog_4.Tune_3.ReBuild]
	@TableName NVARCHAR(255),
	@IndexName NVARCHAR(255),
	@type_desc nvarchar(20),
	@Run_id INT = 0,
	@FillFactor INT,
	@OnlineRebuild BIT -- Set to 0 for offline operations
AS
BEGIN
    SET NOCOUNT ON;
	
	DECLARE @SQL NVARCHAR(MAX);
	DECLARE @TableAffected NVARCHAR(255) = @TableName;
	DECLARE @RowCount INT = 0;
	DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorCode INT;
	DECLARE @Action NVARCHAR (255);

	BEGIN TRY
        SET @SQL = N'ALTER INDEX ' + QUOTENAME(@IndexName) + 
				N' ON ' + QUOTENAME(@TableName) + 
				N' REBUILD WITH (' +
				N'ONLINE = OFF, ' +
				N'FILLFACTOR = 90, ' +  -- Creates 10% free space for inserts
				N'STATISTICS_NORECOMPUTE = OFF, ' +
				N'SORT_IN_TEMPDB = ON, ' +
				N'MAXDOP = 4, ' +  -- Prevent resource contention
				N'DATA_COMPRESSION = PAGE);'

        EXEC sp_executesql @SQL
		
		SET @RowCount = @@ROWCOUNT;
		
		IF @RowCount = 0
        BEGIN
            SET @Action = 'TUNE: ' + @type_desc + ', Index ReBuild successful!';
			SET @ErrorMessage = @IndexName
            SET @ErrorCode = 0;
			EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableAffected,
                                          @RowsAffected = @RowCount,
                                          @Action = @Action,
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END
        ELSE
        BEGIN
            SET @Action = 'TUNE: ' + @type_desc + ', Index ReBuild NOT updated!';
            SET @ErrorMessage = @IndexName
            SET @ErrorCode = 0;
			EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableAffected,
                                          @RowsAffected = @RowCount,
                                          @Action = @Action,
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END;
	END TRY
	BEGIN CATCH
        SET @Action = 'TUNE: ' + @type_desc + ', Index ReBuild refresh error! ';
		SET @ErrorMessage = ERROR_MESSAGE();
        SET @ErrorNumber = 50000 + @ErrorCode;
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableAffected,
                                      @RowsAffected = NULL,
                                      @Action = @Action,
                                      @ErrorCode = @ErrorNumber,
                                      @ErrorMessage = @ErrorMessage;
    END CATCH;
END;

