USE [GADATA_RPT]
GO
-- ==========================================================================================
--  Author: JHughes
--  Create date: 02/2025
--  Description:  1) DAILY, Populates hard tempTables. *Data must be updated at 0000.
--                2) temp_SvcLog_1_Create contains the primary metadata required for
-- 			     2a) Creation of other hard tempTables
-- 				 2b) Simplifies stored procedure creation of run-time #tempTables.
-- 				 2c) Minimizes SELECTs against GoA Application PRD SQL Server.
-- ==========================================================================================

CREATE or ALTER PROCEDURE [dbo].[sp_SvcLog_0.MetaData.Master] @Run_id INT = 0 OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @CurrentDate DATE = GETDATE();
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorSeverity INT;
    DECLARE @ErrorState INT;
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @SourceServer NVARCHAR(255);
    DECLARE @SourceDatabase NVARCHAR(255);
    DECLARE @SourceTableName NVARCHAR(255);
    DECLARE @PartitionColumn NVARCHAR(255);
    DECLARE @MinValue DATETIME;
    DECLARE @StartTime DATETIME = GETDATE();
    DECLARE @LoadTime INT;
    DECLARE @TableNamePrefix NVARCHAR(255);
    DECLARE @TableName NVARCHAR(255);
    DECLARE @SourceStartDT DATETIME;
    DECLARE @RowCount INT = 0;
    IF @Run_id = 0
    BEGIN
        SELECT @Run_id = ABS(CHECKSUM(NewId())) % 999999999;
    END
    CREATE TABLE #TempPotentialCreateTables
    (
        TableNamePrefix NVARCHAR(255),
        TableName NVARCHAR(255),
        PartitionFunctionName NVARCHAR(255),
        PartitionSchemeName NVARCHAR(255),
        SourceServer NVARCHAR(255),
        SourceDatabase NVARCHAR(255),
        SourceTableName NVARCHAR(255),
        PartitionColumn NVARCHAR(255),
        FastRetentionPeriodDays INT NULL,
        ArchiveRetentionPeriodDays INT NULL,
        IDColumnName NVARCHAR(128) NULL,
        IDColumnName2 NVARCHAR(128) NULL,
        SourceStartDT DATETIME,
        SourceEndDT DATETIME,
        TableDistroLvl INT,
        WeekTbl INT
    );
    WITH SvcLogs
    AS (SELECT TableNamePrefix,
               SourceServer,
               SourceDatabase,
               SourceTableName,
               FastPartitionSchemeName,
               FastPartitionFunctionName,
               ArcPartitionSchemeName,
               ArcPartitionFunctionName,
               PartitionColumn,
               FastRetentionPeriodDays,
               ArchiveRetentionPeriodDays,
               IDColumnName,
               IDColumnName2,
               TableDistroLvl,
               TheFirstOfMonth,
               TheLastOfMonth,
               TheFirstOfWeek,
               TheLastOfWeek,
               TheWeek
        FROM addin_SvcLogTableStructures
            JOIN addin_DateDimension
                ON 1 = 1
        WHERE TheFirstOfMonth
              BETWEEN DATEADD(DAY, -ArchiveRetentionPeriodDays + -30, GETDATE()) AND @CurrentDate
              AND TableNamePrefix != 'skel'
       ),
         PotentialTables
    AS (SELECT TableNamePrefix,
               CASE
                   WHEN TableDistroLvl <= 0 THEN
                       TableNamePrefix
                   WHEN TableDistroLvl IN ( 1, 2 ) THEN
                       TableNamePrefix + '_' + CAST(YEAR(TheFirstOfMonth) AS NVARCHAR(4)) + '_'
                       + RIGHT('0' + CAST(MONTH(TheFirstOfMonth) AS NVARCHAR(2)), 2)
               END AS TableName,
               ArcPartitionFunctionName as PartitionFunctionName,
               ArcPartitionSchemeName as PartitionSchemeName,
               SourceServer,
               SourceDatabase,
               SourceTableName,
               PartitionColumn,
               FastRetentionPeriodDays,
               ArchiveRetentionPeriodDays,
               IDColumnName,
               IDColumnName2,
               TheFirstOfMonth AS SourceStartDT,
               TheLastOfMonth AS SourceEndDT,
               TableDistroLvl,
               0 AS WeekTbl
        FROM SvcLogs
        WHERE (
				(TableDistroLvl IN ( -1, 0, 1 ) 
				 AND TheFirstOfMonth BETWEEN DATEADD(DAY, (-ArchiveRetentionPeriodDays + -30), @CurrentDate) AND @CurrentDate)
				OR (TableDistroLvl = 2 
					AND TheFirstOfMonth BETWEEN DATEADD(DAY, (-ArchiveRetentionPeriodDays + -30), @CurrentDate) AND DATEADD(DAY, (-FastRetentionPeriodDays), @CurrentDate))
              )
              AND TableNamePrefix != 'skel'
        UNION
        SELECT DISTINCT
            TableNamePrefix,
            CASE
                WHEN TableDistroLvl = 2 THEN
                    TableNamePrefix + '_' + CAST(YEAR(TheFirstOfWeek) AS NVARCHAR(4)) + '_'
                    + RIGHT('0' + CAST(MONTH(TheFirstOfWeek) AS NVARCHAR(2)), 2) + '_' + CAST(TheWeek AS NVARCHAR(2))
            END AS TableName,
            FastPartitionFunctionName as PartitionFunctionName,
            FastPartitionSchemeName as PartitionSchemeName,
            SourceServer,
            SourceDatabase,
            SourceTableName,
            PartitionColumn,
            FastRetentionPeriodDays,
            ArchiveRetentionPeriodDays,
            IDColumnName,
            IDColumnName2,
            CASE
                WHEN TableDistroLvl = 2 THEN
                    TheFirstOfWeek
            END AS SourceStartDT,
            CASE
                WHEN TableDistroLvl = 2 THEN
                    TheLastOfWeek
            END AS SourceEndDT,
            TableDistroLvl,
            CASE
                WHEN TableDistroLvl = 2 THEN
                    1
            END AS WeekTbl
        FROM SvcLogs
        WHERE (TableDistroLvl = 2 AND TheFirstOfWeek BETWEEN DATEADD(DAY, -FastRetentionPeriodDays + -7, @CurrentDate) AND @CurrentDate)
              AND TableNamePrefix != 'skel'
       )
    INSERT INTO #TempPotentialCreateTables
    (
        TableNamePrefix,
        TableName,
        PartitionFunctionName,
        PartitionSchemeName,
        SourceServer,
        SourceDatabase,
        SourceTableName,
        PartitionColumn,
        FastRetentionPeriodDays,
        ArchiveRetentionPeriodDays,
        IDColumnName,
        IDColumnName2,
        SourceStartDT,
        SourceEndDT,
        TableDistroLvl,
        WeekTbl
    )
    (SELECT p.TableNamePrefix,
            p.TableName,
            p.PartitionFunctionName,
            p.PartitionSchemeName,
            p.SourceServer,
            p.SourceDatabase,
            p.SourceTableName,
            p.PartitionColumn,
            p.FastRetentionPeriodDays,
            p.ArchiveRetentionPeriodDays,
            p.IDColumnName,
            p.IDColumnName2,
            p.SourceStartDT,
            p.SourceEndDT,
            p.TableDistroLvl,
            p.WeekTbl
     FROM PotentialTables p);
    WITH UniqueTableNames
    AS (SELECT *,
               ROW_NUMBER() OVER (PARTITION BY SourceStartDT,
                                               SourceEndDT,
                                               TableNamePrefix
                                  ORDER BY TableDistroLvl,
                                           TableNamePrefix,
                                           TableName DESC
                                 ) AS rn
        FROM #TempPotentialCreateTables
       )
    DELETE FROM UniqueTableNames
    WHERE rn > 1;
    TRUNCATE TABLE [dbo].[temp_SvcLog_1_Create]
    INSERT INTO temp_SvcLog_1_Create
    (
        TableNamePrefix,
        TableName,
        PartitionFunctionName,
        PartitionSchemeName,
        SourceServer,
        SourceDatabase,
        SourceTableName,
        PartitionColumn,
        FastRetentionPeriodDays,
        ArchiveRetentionPeriodDays,
        IDColumnName,
        IDColumnName2,
        SourceStartDT,
        SourceEndDT,
        TableDistroLvl,
        WeekTbl
    )
    (SELECT p.TableNamePrefix,
            p.TableName,
            p.PartitionFunctionName,
            p.PartitionSchemeName,
            p.SourceServer,
            p.SourceDatabase,
            p.SourceTableName,
            p.PartitionColumn,
            p.FastRetentionPeriodDays,
            p.ArchiveRetentionPeriodDays,
            p.IDColumnName,
            p.IDColumnName2,
            p.SourceStartDT,
            p.SourceEndDT,
            p.TableDistroLvl,
            p.WeekTbl
     FROM #TempPotentialCreateTables p);
    SET @RowCount = @@ROWCOUNT;
    SET @TableName = 'temp_SvcLog_1_Create';
    BEGIN TRY
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableName,
                                      @RowsAffected = @RowCount,
                                      @Action = 'MetaData: Update tmpTable',
                                      @ErrorCode = NULL,
                                      @ErrorMessage = NULL;
        PRINT 'tempTableRefresh - ' + QUOTENAME(@TableName) + ' refreshed successfully.';
        PRINT 'tempTableRefresh - Table Truncated; Rows Added: ' + CAST(@RowCount AS NVARCHAR(10));
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE(),
               @ErrorSeverity = ERROR_SEVERITY(),
               @ErrorState = ERROR_STATE();
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableName,
                                      @RowsAffected = NULL,
                                      @Action = 'MetaData: Update tmpTable',
                                      @ErrorCode = @ErrorSeverity,
                                      @ErrorMessage = @ErrorMessage;
        PRINT 'tempTableRefresh - Severity: ' + CAST(@ErrorSeverity AS NVARCHAR(10));
        PRINT 'tempTableRefresh - Severity: State ' + CAST(@ErrorState AS NVARCHAR(10)) + ': ' + @ErrorMessage;
    END CATCH;
    CREATE TABLE #Insert_MinSourceDTs
    (
        SourceServer NVARCHAR(255),
        SourceDatabase NVARCHAR(255),
        SourceTableName NVARCHAR(255),
        MinSourceDT DATETIME
    );
    BEGIN TRY
        DECLARE MinSourceRecDTcur CURSOR FOR
        SELECT SourceServer,
               SourceDatabase,
               SourceTableName,
               PartitionColumn
        FROM temp_SvcLog_1_Create;
        OPEN MinSourceRecDTcur;
        FETCH NEXT FROM MinSourceRecDTcur
        INTO @SourceServer,
             @SourceDatabase,
             @SourceTableName,
             @PartitionColumn;
        WHILE @@FETCH_STATUS = 0
        BEGIN
            BEGIN TRY
                SET @SQL
                    = N'SELECT @MinValueOut = MIN(' + QUOTENAME(@PartitionColumn) + ') FROM '
                      + QUOTENAME(@SourceServer) + '.' + QUOTENAME(@SourceDatabase) + '.[dbo].'
                      + QUOTENAME(@SourceTableName);
                EXEC sp_executesql @SQL,
                                   N'@MinValueOut DATETIME OUTPUT',
                                   @MinValueOut = @MinValue OUTPUT;
                IF EXISTS
                (
                    SELECT 1
                    FROM temp_SvcLog_1_Create
                    WHERE SourceServer = @SourceServer
                          AND SourceDatabase = @SourceDatabase
                          AND SourceTableName = @SourceTableName
                          AND SourceStartDT >= @MinValue
                )
                BEGIN
                    INSERT INTO #Insert_MinSourceDTs
                    (
                        SourceServer,
                        SourceDatabase,
                        SourceTableName,
                        MinSourceDT
                    )
                    VALUES
                    (@SourceServer, @SourceDatabase, @SourceTableName, @MinValue);
                END
            END TRY
            BEGIN CATCH
                SET @ErrorMessage = 'Error in MinSourceRecDTcur loop: ' + ERROR_MESSAGE();
                THROW 50001, @ErrorMessage, 1;
            END CATCH
            FETCH NEXT FROM MinSourceRecDTcur
            INTO @SourceServer,
                 @SourceDatabase,
                 @SourceTableName,
                 @PartitionColumn;
        END
        CLOSE MinSourceRecDTcur;
        DEALLOCATE MinSourceRecDTcur;
    END TRY
    BEGIN CATCH
        SET @ErrorMessage = 'Error in MinSourceRecDTcur cursor: ' + ERROR_MESSAGE();
        THROW 50002, @ErrorMessage, 1;
    END CATCH
    TRUNCATE TABLE [dbo].[temp_SvcLog_2_Load]
    INSERT INTO temp_SvcLog_2_Load
    (
        TableNamePrefix,
        TableName,
        a.SourceServer,
        SourceDatabase,
        SourceTableName,
        SourceStartDT,
        SourceEndDT,
        IDColumnName,
        IDColumnName2,
        PartitionColumn,
        TableDistroLvl,
        WeekTbl
    )
    (SELECT DISTINCT
         TableNamePrefix,
         MAX(TableName),
         a.SourceServer,
         a.SourceDatabase,
         a.SourceTableName,
         MIN(SourceStartDT),
         MAX(SourceEndDT),
         IDColumnName,
         IDColumnName2,
         PartitionColumn,
         TableDistroLvl,
         WeekTbl
     FROM temp_SvcLog_1_Create a
         LEFT JOIN #Insert_MinSourceDTs b
             ON a.SourceTableName = b.SourceTableName
     WHERE SourceStartDT >= MinSourceDT
     GROUP BY TableNamePrefix,
              a.SourceServer,
              a.SourceDatabase,
              a.SourceTableName,
              IDColumnName,
              IDColumnName2,
              PartitionColumn,
              TableDistroLvl,
              WeekTbl);
    SET @RowCount = @@ROWCOUNT;
    SET @TableName = 'temp_SvcLog_2_Load';
    BEGIN TRY
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableName,
                                      @RowsAffected = @RowCount,
                                      @Action = 'MetaData: Update tmpTable',
                                      @ErrorCode = NULL,
                                      @ErrorMessage = NULL;
        PRINT 'tempTableRefresh - ' + QUOTENAME(@TableName) + ' refreshed successfully.';
        PRINT 'tempTableRefresh - Table Truncated; Rows Added: ' + CAST(@RowCount AS NVARCHAR(10));
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE(),
               @ErrorSeverity = ERROR_SEVERITY(),
               @ErrorState = ERROR_STATE();
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableName,
                                      @RowsAffected = NULL,
                                      @Action = 'MetaData: Update tmpTable',
                                      @ErrorCode = @ErrorSeverity,
                                      @ErrorMessage = @ErrorMessage;
        PRINT 'tempTableRefresh - Severity: ' + CAST(@ErrorSeverity AS NVARCHAR(10));
        PRINT 'tempTableRefresh - Severity: State ' + CAST(@ErrorState AS NVARCHAR(10)) + ': ' + @ErrorMessage;
    END CATCH;
    TRUNCATE TABLE [dbo].[temp_SvcLog_3_Purge]
    INSERT INTO [temp_SvcLog_3_Purge]
    (
        TableNamePrefix,
        TableName,
        MoveToTableName,
        PartitionColumn,
        SourceStartDT,
        TableDistroLvl,
        FastRetentionPeriodDays,
        ArchiveRetentionPeriodDays,
        IDColumnName,
        WeekTbl
    )
    SELECT DISTINCT
        TableNamePrefix,
        MIN(TableName),
        '',
        PartitionColumn,
        MIN(SourceStartDT) as SourceStartDT,
        TableDistroLvl,
        FastRetentionPeriodDays,
        ArchiveRetentionPeriodDays,
        IDColumnName,
        WeekTbl
    FROM temp_SvcLog_1_Create
    GROUP BY TableNamePrefix,
             PartitionColumn,
             TableDistroLvl,
             FastRetentionPeriodDays,
             ArchiveRetentionPeriodDays,
             IDColumnName,
             WeekTbl;
    UPDATE a
    SET a.SourceEndDT = CASE
                            WHEN
                            (
                                a.WeekTbl != 1
                                OR a.WeekTbl IS NULL
                            ) THEN
                                DATEADD(day, -a.ArchiveRetentionPeriodDays, GETDATE())
                            WHEN
                            (
                                a.WeekTbl = 1
                                AND a.TableDistroLvl = 2
                            ) THEN
                                DATEADD(day, -a.FastRetentionPeriodDays, GETDATE())
                            ELSE
                                b.SourceEndDT
                        END
    FROM temp_SvcLog_3_Purge a
        INNER JOIN temp_SvcLog_1_Create b
            ON a.TableName = b.TableName;
    DECLARE @MoveToTableName NVARCHAR(255);
    DECLARE @SourceEndDT DATETIME2;
    DECLARE prepurge_cursor CURSOR FOR
    SELECT TableNamePrefix,
           TableName,
           MoveToTableName,
           SourceStartDT,
           SourceEndDT
    FROM temp_SvcLog_3_Purge
    WHERE WeekTbl = 1;
    OPEN prepurge_cursor;
    FETCH NEXT FROM prepurge_cursor
    INTO @TableNamePrefix,
         @TableName,
         @MoveToTableName,
         @SourceStartDT,
         @SourceEndDT;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
            BEGIN
                SET @MoveToTableName
                    = CONCAT(
                                @TableNamePrefix,
                                '_',
                                CAST(YEAR(@SourceStartDT) AS NVARCHAR(4)),
                                '_',
                                RIGHT('0' + CAST(MONTH(@SourceStartDT) AS NVARCHAR(2)), 2)
                            )
                UPDATE temp_SvcLog_3_Purge
                SET MoveToTableName = @MoveToTableName
                WHERE TableName = @TableName;
                IF EXISTS
                (
                    SELECT MONTH(@SourceStartDT),
                           MONTH(@SourceEndDT)
                    FROM temp_SvcLog_3_Purge
                    WHERE WeekTbl = 1
                          AND MONTH(@SourceStartDT) != MONTH(@SourceEndDT)
                          AND TableName = @TableName
                )
                BEGIN
                    SET @MoveToTableName
                        = CONCAT(
                                    @TableNamePrefix,
                                    '_',
                                    CAST(YEAR(@SourceEndDT) AS NVARCHAR(4)),
                                    '_',
                                    RIGHT('0' + CAST(MONTH(@SourceEndDT) AS NVARCHAR(2)), 2)
                                )
                    INSERT INTO temp_SvcLog_3_Purge
                    (
                        TableNamePrefix,
                        TableName,
                        MoveToTableName,
                        PartitionColumn,
                        SourceStartDT,
                        SourceEndDT,
                        TableDistroLvl,
                        FastRetentionPeriodDays,
                        ArchiveRetentionPeriodDays,
                        IDColumnName,
                        WeekTbl
                    )
                    (SELECT TableNamePrefix,
                            TableName,
                            @MoveToTableName,
                            PartitionColumn,
                            SourceStartDT,
                            SourceEndDT,
                            TableDistroLvl,
                            FastRetentionPeriodDays,
                            ArchiveRetentionPeriodDays,
                            IDColumnName,
                            2
                     FROM temp_SvcLog_3_Purge
                     WHERE TableName = @TableName
                           and WeekTbl = 1)
                END;
            END
        END TRY
        BEGIN CATCH
            SET @ErrorMessage = 'Error in prepurge_cursor loop: ' + ERROR_MESSAGE();
            THROW 50001, @ErrorMessage, 1;
        END CATCH
        FETCH NEXT FROM prepurge_cursor
        INTO @TableNamePrefix,
             @TableName,
             @MoveToTableName,
             @SourceStartDT,
             @SourceEndDT;
    END
    CLOSE prepurge_cursor;
    DEALLOCATE prepurge_cursor;
    SET @RowCount =
    (
        SELECT COUNT(*) FROM temp_SvcLog_3_Purge
    );
    SET @TableName = 'temp_SvcLog_3_Purge';
    BEGIN TRY
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableName,
                                      @RowsAffected = @RowCount,
                                      @Action = 'MetaData: Update tmpTable',
                                      @ErrorCode = NULL,
                                      @ErrorMessage = NULL;
        PRINT 'tempTableRefresh - ' + QUOTENAME(@TableName) + ' refreshed successfully.';
        PRINT 'tempTableRefresh - Table Truncated; Rows Added: ' + CAST(@RowCount AS NVARCHAR(10));
    END TRY
    BEGIN CATCH
        SELECT @ErrorMessage = ERROR_MESSAGE(),
               @ErrorSeverity = ERROR_SEVERITY(),
               @ErrorState = ERROR_STATE();
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableName,
                                      @RowsAffected = NULL,
                                      @Action = 'MetaData: Update tmpTable',
                                      @ErrorCode = @ErrorSeverity,
                                      @ErrorMessage = @ErrorMessage;
        PRINT 'tempTableRefresh - Severity: ' + CAST(@ErrorSeverity AS NVARCHAR(10));
        PRINT 'tempTableRefresh - Severity: State ' + CAST(@ErrorState AS NVARCHAR(10)) + ': ' + @ErrorMessage;
    END CATCH;

    -- Calculate script performance results
    SET @LoadTime = DATEDIFF(millisecond, @StartTime, GETDATE())
    DECLARE @EndTime DATETIME;
    DECLARE @hr varchar(2);
    DECLARE @min varchar(2);
    DECLARE @sec varchar(2);
    DECLARE @ms varchar(10);
    SELECT @hr = @LoadTime / 3600000,
           @min = (@LoadTime - ((@LoadTime / 3600000) * 3600000)) / 60000,
           @sec = (@LoadTime - (((@LoadTime) / 60000) * 60000)) / 1000,
           @ms = @LoadTime - (((@LoadTime) / 1000) * 1000),
           @EndTime = FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm:ss');
    PRINT CHAR(13) + 'Start Time: ' + CAST(@StartTime as NVARCHAR(20));
    PRINT '-----------------------------------------------------------';
    PRINT 'Source Table/s Replication Runtime: ' + CAST(@LoadTime as NVARCHAR(10)) + ' milliseconds';
    PRINT 'Runtime Breakdown: ' + CHAR(13) + 'Minutes: ' + CAST(@min as NVARCHAR(2)) + CHAR(13) + 'Seconds: '
          + CAST(@sec as NVARCHAR(2)) + CHAR(13) + 'Milliseconds: ' + CAST(@ms as NVARCHAR(2));
    PRINT '-----------------------------------------------------------';
    PRINT 'End Time: ' + CAST(@EndTime as NVARCHAR(20));
    DROP TABLE #TempPotentialCreateTables;
    DROP TABLE #Insert_MinSourceDTs;
END