USE [GADATA_RPT]
GO
-- ==========================================================================================
-- Author:		JHughes
-- Create date: 12/2024
-- Description:	Inserts records from GoA App DB.  			
--				Distributes service log data into smaller tables for consumption, 
--					see addin_SvcLogTableStructures for specifications.
--             *Calls: LOAD class procedures
-- ==========================================================================================
CREATE or ALTER PROCEDURE [dbo].[sp_SvcLog_2.Load_2.Insert]
    @TableName NVARCHAR(255),
    @Run_id NVARCHAR(10),
    @Caller NVARCHAR(2) = 'sp',
    @RowCount INT = 0 OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @TableNamePrefix NVARCHAR(200);
    DECLARE @SourceServer NVARCHAR(128);
    DECLARE @SourceDatabase NVARCHAR(128);
    DECLARE @SourceTableName NVARCHAR(128);
    DECLARE @SourceStartDT DATETIME2;
    DECLARE @SourceEndDT DATETIME2;
    DECLARE @PartitionColumn NVARCHAR(128);
    DECLARE @IDColumnName NVARCHAR(128);
    DECLARE @TableDistroLvl INT;
    DECLARE @CurrProc NVARCHAR(100);
    DECLARE @ErrorMessage NVARCHAR(4000);
    DECLARE @ErrorNumber INT;
    DECLARE @ErrorCode INT;
    DECLARE @TotalRowCount INT = 0;
    DECLARE @InsertSQL NVARCHAR(MAX);

    SET @CurrProc = OBJECT_NAME(@@PROCID);
    SET @ErrorCode
        = CONCAT(
                    SUBSTRING(@CurrProc, CHARINDEX('.', @CurrProc) - 1, 1),
                    SUBSTRING(@CurrProc, CHARINDEX('.', @CurrProc, CHARINDEX('.', @CurrProc) + 1) - 1, 1)
                );
    IF @TableName = ''
       OR @TableName IS NULL
    BEGIN
        RETURN;
    END;
    BEGIN TRY
        PRINT '@Caller: ' + @Caller;
        PRINT '@TableName: ' + @TableName;

        SELECT TOP 1
            @SourceServer = SourceServer,
            @SourceDatabase = SourceDatabase,
            @SourceTableName = SourceTableName,
            @SourceStartDT = SourceStartDT,
            @SourceEndDT = SourceEndDT,
            @PartitionColumn = PartitionColumn,
            @IDColumnName = IDColumnName
        FROM ##TempInsertTables
        WHERE TableName = @TableName
              and Caller = @Caller;

        SET @InsertSQL
            = N'INSERT INTO ' + QUOTENAME(@TableName) + ' SELECT * FROM ' + QUOTENAME(@SourceServer) + '.'
              + QUOTENAME(@SourceDatabase) + '.[dbo].' + QUOTENAME(@SourceTableName) + ' s ' + ' WHERE s.'
              + QUOTENAME(@PartitionColumn) + ' BETWEEN ''' + CAST(CAST(@SourceStartDT AS DATETIME2) AS NVARCHAR(23))
              + '''' + ' AND ''' + CAST(CAST(@SourceEndDT AS DATETIME2) AS NVARCHAR(23)) + '''' + ' AND NOT EXISTS ('
              + ' SELECT 1 FROM ' + QUOTENAME(@TableName) + ' d ' + ' WHERE s.' + QUOTENAME(@IDColumnName) + ' = d.'
              + QUOTENAME(@IDColumnName) + ')';

        EXEC sp_executesql @InsertSQL;

        SET @RowCount = @@ROWCOUNT;

        IF @RowCount > 0
        BEGIN
            SET @ErrorMessage = 'INSERT Success!';
            SET @ErrorCode = 0;
            SET @TotalRowCount = @TotalRowCount + @RowCount;

            EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableName,
                                          @RowsAffected = @RowCount,
                                          @Action = 'LOAD: INSERT',
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END
        ELSE
        BEGIN
            SET @ErrorMessage = '0 rows qualify!';
            SET @ErrorCode = 0;
            SET @TotalRowCount = 0;
            EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                          @TableAffected = @TableName,
                                          @RowsAffected = @RowCount,
                                          @Action = 'LOAD: NO WORK',
                                          @ErrorCode = @ErrorCode,
                                          @ErrorMessage = @ErrorMessage;
        END;
    END TRY
    BEGIN CATCH
        SET @ErrorMessage
            = 'Destination Table does not EXIST!  Run: sp_SvcLog_Create_1.Master ASAP.  ' + ERROR_MESSAGE();
        SET @ErrorNumber = 50000 + @ErrorCode;
        EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
                                      @TableAffected = @TableName,
                                      @RowsAffected = NULL,
                                      @Action = 'LOAD: ERROR',
                                      @ErrorCode = @ErrorNumber,
                                      @ErrorMessage = @ErrorMessage;
    END CATCH;

    RETURN @RowCount;
END;
