USE [GADATA_RPT]
GO
/****** Object:  StoredProcedure [dbo].[sp_SvcLog_4.Tune_0.Master]    Script Date: 3/27/2025 12:25:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- ==========================================================================================
-- Author:		JHughes
-- Create date: 12/2024
-- Description:	Creates a series of tables, see addin_SvcLogTableStructures for specifications.
--              Specs, service table size breakout (approx), to maintain logs x 16mo:
--                0 to 1 mil/rec/mo. Single Table.  rpt(replaces dpa)_[OrigTableName]
--                1 to 10 mil/rec/mo. 16 tables. rpt(replaces dpa)_[OrigTableName]_[yyyy]_[mm]
--                > 10 mil/rec/mo. 25 tables. rpt(replaces dpa)_[OrigTableName]_[yyyy]_[mm]_[WeekOfYear]
--                ** multi table sets may have 1-2 tables more than above, depending on timing.
--
--				Plus, Creates Table Index Partitions, Indexes, Trigers, and view for each table
-- ==========================================================================================
CREATE or ALTER PROCEDURE [dbo].[sp_SvcLog_4.Tune_0.Master]
	@DBName NVARCHAR(200) = '[GADATA_RPT_DEV1]',
	@page_fill_percent_limit INT = 70,
	@frag_percent_orglimit INT = 10,
	@frag_percent_rebldlimit INT = 35,
	@FillFactor INT = 80, --Index Page fill factor.  Tuned for the frequest inserts
	@OnlineRebuild INT = 0, -- Set to 0 for offline operations
	@Run_id INT = 0 OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

	DECLARE	@TableName nvarchar(255);
	DECLARE @TableAffected NVARCHAR(255);
    DECLARE @IndexName nvarchar(255);
    DECLARE @FragmentationPercent FLOAT;
    DECLARE @page_fill_percent FLOAT;
    DECLARE @type_desc nvarchar(20);
	DECLARE @FragFlg INT;
	DECLARE @PageFillFlg INT;
	DECLARE @CurrentDate DATE = GETDATE();
	DECLARE @ErrorMessage NVARCHAR(4000);
	DECLARE @ErrorSeverity INT;
	DECLARE @ErrorState INT;
	DECLARE @ErrorNumber INT;
    DECLARE @ErrorCode INT;
	DECLARE @SQL NVARCHAR(MAX);
	DECLARE @Action NVARCHAR (255);
	DECLARE @SourceServer NVARCHAR(255);
	DECLARE @SourceDatabase NVARCHAR(255);
	DECLARE @SourceTableName NVARCHAR(255);
	DECLARE @PartitionColumn NVARCHAR(255);
	DECLARE @StartTime DATETIME = FORMAT (GETDATE(), 'yyyy-MM-dd HH:mm:ss');
	DECLARE @EndTime NVARCHAR(20);
    DECLARE @LoadTime INT;
	DECLARE @RowCount INT = 0;
	SELECT @Run_id = ABS(CHECKSUM(NewId())) % 999999999;

	-- Refresh temp_SvcLog_4_Tune MetaData
	EXEC [dbo].[sp_SvcLog_4.Tune_1.MetaData] @DBName = @DBName,
											@page_fill_percent_limit = @page_fill_percent_limit,
											@frag_percent_orglimit = @frag_percent_orglimit,
											@frag_percent_rebldlimit = @frag_percent_rebldlimit,
											@Run_id = @Run_id;
	
	DECLARE tune_cursor CURSOR FOR
		SELECT table_name,index_name,fragmentation_percent,page_fill_percent,type_desc,FragFlg,PageFillFlg
		FROM temp_SvcLog_4_Tune;

    OPEN tune_cursor;
    FETCH NEXT FROM tune_cursor INTO @TableName,@IndexName,@FragmentationPercent,@page_fill_percent,@type_desc, @FragFlg,@PageFillFlg;

    WHILE @@FETCH_STATUS = 0
    BEGIN
        BEGIN TRY
			-- FragFlg: 0 = no action, 1 = ReOrganize index, 2 = Rebuild index
			-- PageFillFlg: 0 = no action, 1 = ReBuild (optimize Page fill Density)
            IF (@FragFlg = 0 AND @PageFillFlg = 0)
            BEGIN
				PRINT 'TUNE: No Work  for INDEX: [' + CAST(@IndexName as NVARCHAR(100)) + '].'
                      + @TableName + ' ; ' + CAST(@FragmentationPercent as NVARCHAR(30)) + ' ; ' + CAST(@page_fill_percent as NVARCHAR(30)) + ' ; ' + @type_desc;

				SET @Action = 'TUNE: Index OK!';
				SET @ErrorMessage = CAST(@IndexName as NVARCHAR(255))
				SET @ErrorCode = 0;
				EXEC dbo.sp_fnLogSPRunHistory @Run_id = @Run_id,
												@TableAffected = @TableName,
												@RowsAffected = 0,
												@Action = @Action,
												@ErrorCode = @ErrorCode,
												@ErrorMessage = @ErrorMessage;
			END
			ELSE IF (@FragFlg = 1 AND @PageFillFlg = 0)
			BEGIN
				--SEND for ReOrg
				EXEC [dbo].[sp_SvcLog_4.Tune_2.ReOrg] @TableName = @TableName,
													 @IndexName = @IndexName,
													 @type_desc = @type_desc,
													 @FragmentationPercent = @FragmentationPercent,
                                                     @Run_id = @Run_id;
				PRINT 'TUNE: ReOrganize INDEX: [' + CAST(@IndexName as NVARCHAR(100)) + '].'
                      + @TableName + ' ; ' + CAST(@FragmentationPercent as NVARCHAR(30));
            END
			ELSE IF ((@FragFlg = 2 AND @PageFillFlg = 0) OR (@PageFillFlg = 1))
			BEGIN
				--SEND for ReBuild
				EXEC [dbo].[sp_SvcLog_4.Tune_3.ReBuild] @TableName = @TableName,
													   @IndexName = @IndexName,
													   @type_desc = @type_desc,
													   @Run_id = @Run_id,
													   @FillFactor = @FillFactor,
													   @OnlineRebuild = @OnlineRebuild;
				PRINT 'TUNE: ReBuild INDEX: [' + CAST(@IndexName as NVARCHAR(100)) + '].'
                      + @TableName + ' ; ' + CAST(@FragmentationPercent as NVARCHAR(30)) + ' ; ' + CAST(@page_fill_percent as NVARCHAR(30)) + ' ; ' + @type_desc;
			END;
		END TRY
		BEGIN CATCH
            SELECT @ErrorMessage = ERROR_MESSAGE(),
                   @ErrorSeverity = ERROR_SEVERITY(),
                   @ErrorState = ERROR_STATE();
            PRINT 'Error occurred Index maintenance: ' + ERROR_MESSAGE();
            PRINT 'Error ' + CAST(@ErrorSeverity AS NVARCHAR(10)) + ', State ' + CAST(@ErrorState AS NVARCHAR(10))
                  + ': ' + @ErrorMessage;
        END CATCH;

		FETCH NEXT FROM tune_cursor INTO @TableName,@IndexName,@FragmentationPercent,@page_fill_percent,@type_desc, @FragFlg,@PageFillFlg;
    END;
    CLOSE tune_cursor;
    DEALLOCATE tune_cursor;
	
	-- Refresh temp_SvcLog_4_Tune MetaData
	EXEC [dbo].[sp_SvcLog_4.Tune_1.MetaData] @DBName = @DBName,
											@page_fill_percent_limit = @page_fill_percent_limit,
											@frag_percent_orglimit = @frag_percent_orglimit,
											@frag_percent_rebldlimit = @frag_percent_rebldlimit,
											@Run_id = @Run_id;

	-- Calculate script performance results
    SET @LoadTime = DATEDIFF(millisecond, @StartTime, GETDATE())

    DECLARE @hr varchar(2);
    DECLARE @min varchar(2);
    DECLARE @sec varchar(2);
    DECLARE @ms varchar(10);

    select @hr = @LoadTime / 3600000,
           @min = (@LoadTime - ((@LoadTime / 3600000) * 3600000)) / 60000,
           @sec = (@LoadTime - (((@LoadTime) / 60000) * 60000)) / 1000,
           @ms = @LoadTime - (((@LoadTime) / 1000) * 1000),
           @EndTime = FORMAT(GETDATE(), 'yyyy-MM-dd HH:mm:ss');

    PRINT CHAR(13) + 'Start Time: ' + CAST(@StartTime as NVARCHAR(20));
    PRINT '-----------------------------------------------------------';
    PRINT 'Source Table/s Replication Runtime: ' + CAST(@LoadTime as NVARCHAR(10)) + ' milliseconds';
    PRINT 'Runtime Breakdown: ' + CHAR(13) + 'Minutes: ' + CAST(@min as NVARCHAR(2)) + CHAR(13) + 'Seconds: '
          + CAST(@sec as NVARCHAR(2)) + CHAR(13) + 'Milliseconds: ' + CAST(@ms as NVARCHAR(2));
    PRINT '-----------------------------------------------------------';
    PRINT 'Total Rows Inserted: ' + CAST(@RowCount as NVARCHAR(14));
    PRINT '-----------------------------------------------------------';
    PRINT 'End Time: ' + CAST(@EndTime as NVARCHAR(20));
END;